

.dashboard-main{

  margin-top: 30px;
  height: 100vh;
  padding-right: 20px;
  background-color: #f4f5f7;
  width: 90%;
  padding-top: 50px;
    /* margin-top: 20px; */
    /* height: 100vh; */
    /* background: yellow; */
   /* margin-left: 300px; */
    width:100%;
    /* padding-top: 50px; */
   /* padding-left: 20px; */
   /* margin-right: 20px; */
 }