.offeredtest-main{
   margin-top: 30px;
   height: 200vh;
   padding-right: 20px;
   background-color: #f4f5f7;
   width: 100%;
   padding-top: 50px;
   
   /* margin-left: 300px; */
   /* width:81%; */
   
   /* padding-left: 20px; */
   /*  */
    /*  */
  
  

}


/* style={{ display: 'flex', justifyContent: 'space-between', 
    alignItems: 'center', padding: '10px', backgroundColor: 'white', 
    borderRadius:"10px" }} */
