*{
    margin:0;
    padding:0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
.containers{
    display:flex; 
}
.mains{
    width: 100%;
    background-color: #f4f5f7;  
}
.sidebars {
    width: 250px;
    background-color: #fff;
    padding-top: 20px;
}

.link_texts {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.links {
    text-decoration: none;
    color: #000;
}

.links:hover {
    background-color: #f0f0f0;
}

.active-link {
    background-color: #f0f0f0;
}
